@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Converter</h1>
    <p>Pick if you are wanting to convert temperature or mass.</p>
    <p><a class="btn btn-primary" href="https://localhost:44303/Temperature">Temperature</a><a class="btn btn-primary" href="https://localhost:44303/Mass">Mass</a></p>
</div>
